* ::before ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
             
    body {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: dodgerblue;
    }
             
    
    .container img{
    
             width: 100%;
             height: 100%;
    }
    
    
    .container{
             
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black ;
    top: 50%;
    }

    table, th tr{
    position: absolute;
    color: black;
    
    top: 21.2%;
    left: 2.55%;
    width: 90%;
    height:5px;
    font-size: 7px;
    padding: -1px -1px -1px -1px ;
    
    
} 
    .table, th, tr {
        
        border-collapse:collapse ;
    }

    .table-head{
        color: blue;
        height: 20px;
        visibility: hidden;
        
    }

    .table-body{
        height: 370px;
        
    }

    .tipodoc{
        
        width: 40px;
    }
    .documento{
        width: 51px;
    }
    .nombres{
        width: 49px;
    }
    .apellidos{
        width: 52px;
        
    }
    .celular{
        width: 62px;
    }
    .direccion{
        width: 68px;
    }
    .email{
        width: 81px;
    }
    .salud{
        width: 53.50px;
    }
    .pension{
        width: 62px;
    }
    .arl{
        width: 54px;
    }
    .observacion{
        width:93px;
    }

    .salir{

        width: 140px;
        top: 88.50%;
        left: 73%;
        position:absolute;
        
     }
    .menu{
        width: 199px;
        top: 88.50%;
        left: 09.10%;
        position:absolute;
    }
    .informes{

        width: 139px;
        top: 88.50%;
        left: 35.10%;
        position:absolute;
    }
.imprimir{
    width: 139px;
        top: 88.50%;
        left: 54.10%;
        position:absolute;
}