* ::before ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
             
    body {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: dodgerblue;
    }
             
    
    .container img{
    
             width: 100%;
             height: 100%;
    }
    
    
    .container{
             
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black ;
    top: 50%;
    }
